body{
    background: #BDBDBD;
}
.jumbotron {
    background-image: url(https://cdn.pixabay.com/photo/2018/09/27/09/22/artificial-intelligence-3706562_960_720.jpg) ;
    background-size: 50%;
    text-align: center;
    color: white;
}
#heading1row {
    border: 5px solid blue;
    margin: none;
}