<!-- your html code here -->
<div class="container-fluid border-3-danger">
    <h2 class="padding-3 margins-3 fs-3 text-bolder">Contact</h2>
    <p class="text fs-4 text-wrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Malesuada proin libero nunc consequat interdum varius sit amet mattis.</p>
    <div class="row">
    <form>
        <div class="col-4">
        <label for="email" class="text-bolder fs-4">Your Email</label>
        <input type="email" name="email"></div>
        <div class="col-4"><label for="your message" class="text-bold fs-4"></label>
        <textarea name="your message" rows="10" cols="20"></textarea></div>
        <input class="btn btn-success align-items-end text-white" type="submit">
    </form>
</div>
</div> 