<div id="heading1row">
    <div class="row">
        <div class="col-8">
            <h1>They say practice makes perfect ...</h1>
            </br>
            <p>Practice, practice, practice, practice, practice.</p>
            </br>
            <p>Then practice some more!</p>
        </div>
        <div class="col-4">
            <img src="https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" style="width:300px; height:200px; padding:auto; margin-top: 5px; margin-bottom: 5px;">
        </div>
    </div>
</div>