<!-- your html code here -->
<div class="container-fluid border-3-danger ">
    <h2 class="font-26-bold">Portfolio</h2>
    <div>
    <p class="fs-5 text-wrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ornare massa eget egestas purus viverra accumsan.</p></div>
    <div class="row hstack gap-3"> 
    <div class="col-4 padding-2 justify-contents-start"><img src="https://th.bing.com/th/id/OIP.jEj3NGw2zTMXFG0kdVst5wHaE7?w=273&h=182&c=7&r=0&o=5&pid=1.7" class="img-thumbnail" style="width: 700px; height: 500px" alt="DJ">
        <p class="text fs-4 text-primary fw-bolder">Project Name</p>
        <p class="text fs-5 text-wrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Auctor eu augue ut lectus.</p>
    </div>
    <div class="col-4 padding-2 justify-contents-center"><img src="https://th.bing.com/th/id/OIP.s2wB_zya6r6OTu3RIQwrKAHaFj?w=239&h=180&c=7&r=0&o=5&pid=1.7" class="img-thumbnail" style="width: 700px; height: 500px" alt="Comp">
        <p class="text fs-4 text-primary fw-bolder ">Project Name</p>
        <p class="text fs-5 text-wrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Auctor eu augue ut lectus.</p>
    </div>
    <div class="col-4 padding-2 justify-contents-end"><img src="https://th.bing.com/th/id/OIP.s1Jfk0CoPhggDjPsulGqpwHaEo?w=271&h=180&c=7&r=0&o=5&pid=1.7" class="img-thumbnail" style="width: 700px; height: 400px">
        <p class="text fs-4 text-primary fw-bolder">Project Name</p>
        <p class="text fs-5 text-wrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed cras ornare arcu dui vivamus arcu felis bibendum.</p>
    </div>
    </div>
</div>