<!-- your html code here -->
<div class="container-fluid border-3-danger">
    <img src="https://github.com/breatheco-de/exercise-collaborative-html-website/blob/master/website/designs/guide.jpg?raw=true" sytle="float: left; border-radius: 50%" class="img-thumbnail" alt="typinghands">
    <h2 class="text-bolder-black fs-2 text-align-center">The Second Heading<h2 class="text-bolder-secondary fs-2 text-align-end">Is Pretty Cool Too</h2></h2><br>
    <p class="text-align-center-wrap fs-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non diam phasellus vestibulum lorem sed risus ultricies tristique nulla. Sem et tortor consequat id porta nibh. Lectus quam id leo in.</p>
</div>
